.flash { 	
					text-align: center;
					
					font-size: 1.4em;
					padding: 2em;
					margin: 2em;
					border-radius: 5px;
					}

.notice {
	color: orange;
	background-color: green; 
}

.alert {
	color: yellow;
	background-color: red;
}