<div class"row">
	<div class="medium-2 columns">
		&nbsp
	</div>
	<div class="medium-10 columns">
<h1>Den Film <span class="red"><%= @movie.title %></span> bearbeiten</h1>
	</div>
</div>

<%= render "form" %>