<h1>Fragen</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Frage</th>
	</tr>
	<tr>
		<% @questions.each do |q| %>
			<td><%= q.name %></td>
			<td><%= q.email %></td>
			<td><%= q.frage %></td>
			<% end %>
	</tr>	

</table>